  <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Report Bee </h1>
    <p>
      we are happy to help you.

      Your profile is viewed by an anonymous now</p>

    <p>
      For any help from Report Bee , just follow this link:  https://www.reportbee.com/#headline5
    </p>

    <p>Thanks for joining and have a great day!</p>

  </body>
</html>