<h1>CONTACTS BOOK</h1>
<marquee>This is an online contact book that lets you  add, view, edit and destroy contacts. As this is an online contacts book you can manage your contacts easier than ever. Enjoy the power of ONLINE CONTACTS BOOK </marquee> 
<h1> New contact </h1>

<%= render 'form' %>

<hr>
<br>
<h1>FOR EXISTING CONTACTS&nbsp&nbsp&nbsp<%= link_to 'SEARCH HERE', contacts_path %></h1>

<img src="kk.gif" width="250" height="250" />



