<h2>NEW CONTACT</h2>

<div class="side-panel">
 <%= link_to image_tag("/data/n1.png", width:200, height:90), :action => 'new', :controller => 'contacts' %>
 <%= link_to image_tag("/data/n2.png", width: 200, height:90), :action => 'index', :controller => 'contacts' %> 
</div>

<%= render 'form' %>










